<div class="row py-5 px-4">
    <div class="col-md-8 mx-auto">
      <div class="bg-white shadow rounded overflow-hidden">
        <div class="px-4 pb-4 pt-5 cover">
            <div class="media-body mb-4 text-white">
                <h4 class="mt-0 mb-0">{{username}}</h4>
                <p class="small mb-4">
                <i class="fa-solid fa-user"></i> {{role}}</p>
            </div>
        </div>

        <div class="bg-light p-4 d-flex flex-column flex-md-row justify-content-md-between align-items-center">
            <div class="mb-3 mb-md-0">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">{{image_count}}</h5>
                        <small class="text-muted">
                            <i class="fas fa-image mr-1"></i> Zdjęć
                        </small>
                    </li>
                </ul>
            </div>
            <div *ngIf="isLoggedUser">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <div class="profile mr-3">
                            <a class="btn btn-outline-dark btn-lg btn-block btn-lg-sm" (click)="openModalProfileEdit()">Edytuj profil</a>
                        </div>
                    </li>
                    <li class="list-inline-item">
                      <div class="profile mr-3">
                          <a class="btn btn-outline-dark btn-lg btn-block btn-lg-sm" (click)="openModalTOTP()">2FA</a>
                      </div>
                  </li>
                    <li class="list-inline-item">
                        <div class="profile mr-3">
                            <a href="/image-upload" class="btn btn-outline-dark btn-lg btn-block btn-lg-sm">Dodaj zdjęcie</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        

        <div class="py-4 px-4">
          <div class="d-flex align-items-center justify-content-between mb-3">
              <h5 class="mb-0">Ostatnie zdjęcia</h5>
          </div>
          <div class="row" id="image-list">
            <div class="row justify-content-center text-center">
                <pagination class="justify-content-center text-primary" [customPreviousTemplate]="previousTemplate" [customNextTemplate]="nextTemplate"
                    [totalItems]="image_count" [itemsPerPage]="itemsPerPage" (pageChanged)="handlePageChange($event)"></pagination>
            </div>
            <div class="col-md-4" *ngFor="let image of imagesArray;">
                <div class="image-container" (click)="navigateToImageDetails(image.id)">
                    <img [src]="image.url" [alt]="image.id" class="img-fluid">
                </div>
            </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

  <!-- Modal -->
<app-totp-user-panel-modal></app-totp-user-panel-modal>
<app-profile-edit-modal></app-profile-edit-modal>

<ng-template #previousTemplate let-disabled="disabled" let-currentPage="currentPage">
    Poprzednia
</ng-template>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    Następna
</ng-template>