<div class="justify-content-center px-5 py-4">

    <tabset [justified]="true">
        <tab id="tab1" heading="Top 10 tagów" id="tab1" (selectTab)="handleTabChange($event)">
            <div class="chart-container pt-5">
                <canvas #topTagsChart></canvas>
            </div>
        </tab>
        <tab id="tab2" heading="Popularne tagi w poszczególnych miesiącach" (selectTab)="handleTabChange($event)">
            <div class="chart-container pt-5">
                <canvas #popularTagsByMonthChart></canvas>
            </div>
        </tab>
        <tab id="tab3" heading="Top 10 klas">

        </tab>
        <tab id="tab4" heading="Najpopularniejsze klasy w poszczególnych miesiącach">

        </tab>
        <tab id="tab5" heading="Top 10 uploaderów">

        </tab>
        <tab id="tab6" heading="Top 10 komentujących">

        </tab>
        <tab id="tab7" heading="Top 10 moderatorów">

        </tab>
    </tabset>
</div>