<div class="justify-content-center px-5 py-4">

    <tabset [justified]="true">
        <tab heading="Top 10 tagów" id="tab1">
            <div class="chart-container pt-5">
                <canvas #myCanvas></canvas>
            </div>
        </tab>
        <tab heading="Najpopularniejszy tag tego miesiąca">

        </tab>
        <tab heading="Top 10 klas">

        </tab>
        <tab heading="Najpopularniejsze klasy tego miesiąca">

        </tab>
        <tab heading="Top 10 uploaderów">

        </tab>
    </tabset>
</div>