<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyświetlanie obrazków</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .image-container {
            margin-bottom: 20px;
        }
        .image-container img {
            max-width: 100%;
            height: auto;
            cursor: pointer; /* Dodałem styl kursora, aby wskazać, że obrazek jest klikalny */
        }
    </style>
</head>
<body>
    <main>
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Wyszukaj...">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" (click)="getImages()">Szukaj</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="row" id="image-list">
                <div class="col-md-4" *ngFor="let image of imagesArray; let i = index">
                    <div class="image-container" (click)="navigateToImageView(i + 1)">
                        <img [src]="image.url" [alt]="image.name" class="img-fluid">
                    </div>
                 </div>   
            </div>
        </div>
    </main>
</body>
</html>
