<div class="container mt-4">

    <div class="py-2 d-flex">
        <!-- Threshold filter -->
        <div class="dropdown px-2">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Wartość progowa: {{filterData.thresholdFrom}} - {{filterData.thresholdTo}}
            </button>
            <ul class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                <li>
                    <div class="row mx-2 my-2">
                        <div class="col">
                            <input type="number" class="form-control form-control-sm" placeholder="od"
                                [(ngModel)]="filterData.thresholdFrom">
                        </div>
                        <div class="col">
                            <input type="number" class="form-control form-control-sm" placeholder="do"
                                [(ngModel)]="filterData.thresholdTo">
                        </div>
                    </div>
                </li>
                <div class="row justify-content-center mx-4 mb-2">
                    <button class="btn btn-success btn-sm btn-rg" (click)="applyFilters()">Filtruj</button>
                </div>
            </ul>
        </div>

        <!-- Tags filter -->
        <div class="dropdown px-2">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Tagi:
            </button>
            <ul class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                <li>
                    <div class="row mx-2 my-2">
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" placeholder="tagi"
                                tooltip="Wartości oddziel przecinkami" [(ngModel)]="filterTagsInput"
                                (input)="filterOnInput($event, filterTagsInput) ">

                        </div>
                    </div>
                </li>
                <div class="row justify-content-center mx-4 mb-2">
                    <button class="btn btn-success btn-sm btn-rg" (click)="applyFilters()">Filtruj</button>
                </div>
            </ul>
        </div>

        <!-- Classes filter -->
        <div class="dropdown px-2">
            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Klasy:
            </button>
            <ul class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                <li>
                    <div class="row mx-2 my-2">
                        <div class="col">
                            <input type="text" class="form-control form-control-sm" placeholder="klasy"
                                tooltip="Wartości oddziel przecinkami" [(ngModel)]="filterClassesInput"
                                (input)="filterOnInput($event, filterClassesInput)">
                        </div>
                    </div>
                </li>
                <div class="row justify-content-center mx-4 mb-2">
                    <button class="btn btn-success btn-sm btn-rg" (click)="applyFilters()">Filtruj</button>
                </div>
            </ul>
        </div>

        <div *ngIf="useFilters" class="px-2">
            <button class="btn btn-danger" (click)="cleanFilters()"> Usuń filtry</button>
        </div>
    </div>
    <div class="row justify-content-center px-4">
        <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
            {{ errorMessage }}
        </div>
    </div>
    <div *ngIf="!useFilters" class="row justify-content-center text-center">
        <pagination class="justify-content-center text-primary" [customPreviousTemplate]="previousTemplate"
            [customNextTemplate]="nextTemplate" [totalItems]="numberOfImages" [itemsPerPage]="itemsPerPage"
            (pageChanged)="handlePageChange($event)"></pagination>
    </div>

    <div class="row" id="image-list">
        <div class="col-md-4" *ngFor="let image of imagesArray;">
            <div class="image-container" (click)="navigateToImageDetails(image.id)">
                <img [src]="image.url" [alt]="image.id" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<ng-template #previousTemplate let-disabled="disabled" let-currentPage="currentPage">
    Poprzednia
</ng-template>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    Następna
</ng-template>