<footer class="footer bg-light text-black">
    <div class="container-fluid container-footer">
        <div class="row">
            <div class="col-md-4">
                <h5>O aplikacji</h5>
                <p style="text-align: justify;">
                    RAISA to aplikacja do anotowania zdjęć. Wykorzystuje sztuczną inteligencję, aby ułatwić opisywanie i&nbsp;segmentację obrazów. Aplikacja pozwala na szybkie dodawanie opisów do zdjęć oraz dzielenie ich na obszary, co ułatwia organizację dużych zbiorów zdjęć. Dzięki AI, proces anotacji jest szybszy i dokładniejszy. 
                </p>
            </div>
            <div class="col-md-4 text-center">
                <h5>Linki</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Strona główna</a></li>
                    <li><a href="/statistics">Statystyki</a></li>
                </ul>
            </div>
            <div class="col-md-4" style="text-align: right;">
                <h5>Kontakt</h5>
                <ul class="list-unstyled">
                    <li>Adres: Al. Tysiąclecia Państwa Polskiego 7, Kielce</li>
                    <li>Telefon: 123-456-789</li>
                    <li>Email: kontakt&#64;example.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>