<footer class="footer bg-light text-black py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>O firmie</h5>
                <p>Tutaj znajdziesz informacje o Twojej firmie.</p>
            </div>
            <div class="col-md-4">
                <h5>Linki</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Strona główna</a></li>
                    <li><a href="#">O nas</a></li>
                    <li><a href="#">Usługi</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kontakt</h5>
                <ul class="list-unstyled">
                    <li>Adres: ul. Przykładowa 123, Miasto</li>
                    <li>Telefon: 123-456-789</li>
                    <li>Email: kontakt&#64;example.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>