<p>Rejestracja:</p>

<div *ngIf="errorMessage" class="error-message"><p>{{ errorMessage }}</p></div>
<div *ngIf="successMessage" class="success-message"><p>{{ successMessage }}</p></div>
<form (ngSubmit)="onSubmit()" class="login_form"> 
    <div class="label" *ngIf="username !== ''">E-mail</div>
    <input type="text" [(ngModel)]="username" [ngModelOptions]="{ standalone: true }" placeholder="E-mail"  class="form_control"><br /><br />
    <div class="label" *ngIf="password !== ''">Hasło</div>
    <input type="password" [(ngModel)]="password" [ngModelOptions]="{ standalone: true }" placeholder="Hasło"  class="form_control"><br /><br />
    <div class="label" *ngIf="passwordCheck !== ''">Powtórz hasło</div>
    <input type="password" [(ngModel)]="passwordCheck" [ngModelOptions]="{ standalone: true }" placeholder="Powtórz hasło"  class="form_control"><br /><br />
    <label>
        <input type="checkbox" [(ngModel)]="agreedToTerms" [ngModelOptions]="{ standalone: true }"> Oświadczam, że zapoznałem(am) się i akceptuję treść Regulaminu. *
        </label><br /><br />
    <button type="submit" class="button">Zarejestruj się</button>
</form><br />